<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.letswecode.harsha.rewardz">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.SignupActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".authentication.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".authentication.ResetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ui.ProfileUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.DetailAdActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_DetailAd"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.AdPopUpActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" />

        <receiver
            android:name=".receiver.PhoneStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.DownloadRt"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>